---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "@/components/Sidebar.astro";
import BlogFeed from "@/components/BlogFeed.astro";
import { SITE } from "@/config";
---

<Layout title={SITE.title} description={SITE.desc}>
  <div class="min-h-screen flex">
    <!-- Left Sidebar -->
    <Sidebar />
    
    <!-- Right Content -->
    <BlogFeed />
  </div>
</Layout>

<style>
  @media (max-width: 1023px) {
    .min-h-screen {
      flex-direction: column !important;
    }
  }
</style>
